@using System.ComponentModel
@using StateExamples.Client.State
@inherits LayoutComponentBase

@inject PersonStateBasic PersonStateBasic
@inject PersonStateIntermediate PersonStateIntermediate
@inject PersonStateAdvanced PersonStateAdvanced

@implements IDisposable

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <h4>@PersonStateAdvanced.GetCurrentPerson().Name</h4>
            &nbsp;
            &nbsp;
            <h4>@PersonStateIntermediate.CurrentPerson.Name</h4>
            &nbsp;
            &nbsp;
            <h4>@PersonStateBasic.CurrentPerson.Name</h4>
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {

    protected override void OnInitialized()
    {
        PersonStateIntermediate.OnChange += StateHasChanged;
    }
    
    protected override async Task OnInitializedAsync()
    {
        PersonStateAdvanced.PropertyChanged += OnHandler;
        await base.OnInitializedAsync();
    }

    private async void OnHandler(object? s, PropertyChangedEventArgs e)
    {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        PersonStateIntermediate.OnChange -= StateHasChanged;
        PersonStateAdvanced.PropertyChanged -= OnHandler;
    }
    
    

}