@page "/counter"
@using StateExamples.Client.State

@inject PersonStateBasic PersonStateBasic
@inject PersonStateIntermediate PersonStateIntermediate
@inject PersonStateINotify PersonStateINotify

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @_currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<EditForm Model="PersonStateBasic.CurrentPerson">

    <div>
        <label for="basic">Basic without update</label>
        <InputText ID="basic" @bind-Value="@PersonStateBasic.CurrentPerson.Name"/>
    </div>

    <div>
        <label for="intermediate">Intermediate with StateHasChanged updates</label>
        <InputText
            ID="intermediate"
            Value="@PersonStateIntermediate.CurrentPerson.Name"
            ValueExpression="() => PersonStateIntermediate.CurrentPerson.Name"
            ValueChanged="HandleNameChange"
        />
        @* @bind-Value="PersonStateIntermediate.CurrentPerson.Name" *@
    </div>

    <div>
        <label for="advanced">Advanced variant with INotifyPropertyChanged</label>
        <InputText
            ID="advanced"
            Value="@PersonStateINotify.State.Name"
            ValueExpression="() => PersonStateIntermediate.CurrentPerson.Name"
            ValueChanged="PersonStateINotify.UpdateCurrentPersonName"/>
    </div>
</EditForm>

@code {
    private int _currentCount;

    private void IncrementCount()
    {
        _currentCount++;
    }

    private void HandleNameChange(string obj)
    {
        PersonStateIntermediate.UpdateCurrentPersonName(obj);
    }

}